RewriteEngine On
RewriteBase /encuestas/

# Redirigir todas las solicitudes a router.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ router.php?url=$1 [QSA,L]
