@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Arial';
    color: white;
}

html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #003153;
    background-image: linear-gradient(315deg, #003153 0%, #1B1B1B 74%);
    width: 100%;
    overflow-x: hidden; 
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 3%;
}

@media screen and (max-width:768px) {
    .container {
        width: 105%;
        display: flex;
        align-items: center;
    }
  }


/*HEADER STYLES*/
.header-container {
    font-weight: bold;
    font-size: 18px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px auto;
    padding: 10px 20px;
    max-width: 1200px;
}

.header_one {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: auto;
}

.header_two {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .header-container {
        flex-direction: column;
        text-align: center;
        margin: 0;
    }
    
    .header_one {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        width: 80px;
    }

    .header_two {
       
        margin-top: 10px;
    }
}

.header_one a {
    padding: 10px;
    text-decoration: none;
}

.header_two a {
    padding: 10px;
    text-decoration: none;
}

a {
    color: white;
    transition: all 0.3s ease 0s;
}

input{
    color: rgb(39, 39, 39);
}

a:hover{
    color: #51369A;
}

.index_button_one {
    color: rgb(225, 225, 225);
    font-weight: bold;
    font-size: 16px;
    background-color: transparent;
    border-radius: 5px;
    border-color: #51369A;
    border-style: solid;
    border-width: 1.5px;
    padding: 0.5rem 1rem;
    min-width: 120px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.index_button_two {
    color: rgb(225, 225, 225);
    font-weight: bold;
    font-size: 16px;
    background-color: #51369A;
    border-radius: 5px;
    border: none;
    padding: 0.5rem 1rem;
    min-width: 120px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.index_button_one:hover{
    background-color: rgba(81, 54, 154, 0.8)    ;
}

.index_button_descargar {
    color: rgb(225, 225, 225);
    font-weight: bold;
    font-size: 16px;
    background-color: #2b6541;
    border-radius: 5px;
    border: none;
    padding: 0.5rem 1rem;
    min-width: 120px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.index_button_descargar:hover{
    background-color: #3a934b;
}

.container-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.container-one h1{
    color: #a89bff
}

.home-img, .register-img {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 12px;
    padding: 8px;
    background-color: rgb(3, 24, 33);
    
}

.home-img1{
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 12px;
    padding: 8px;
    background-color: rgb(3, 24, 33);
}

@media screen and (max-width: 768px) {
    .home-img, .register-img {
        display: none;
        font-size: 12px;
    }

    .home-img1 {
        max-width: 80%;
        font-size: 12px;
        
    }
}

@media screen and (max-width: 600px) {
    .table-welcome {
        display: block;
        overflow-x: auto;
        width: 100%;
    }
}

.container-one{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-content: center;
    text-align: center;
}

p.text {
    width: 700px;
    
}

@media screen and (max-width: 600px) {
    p.text {
        display: flex;
        overflow-x: auto;
        width: 100%;
    }
}

.cerrar_sesion {
    background-color: rgb(150, 54, 54) !important;
}

/* Login */
.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: top;
    align-content: normal;
    margin: 20px 0px 0px 100px;
}

.login-items{
    margin: 40px;
}

/* Registro */

.wrapper-register {
    display: flex;
    flex-direction: row;
    margin: 0px 90px;
}

.flex-wrapper{
    margin: 10px 20px;
}



.register-fields {
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(2, 1fr);
	gap: 0;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 600px) {
    .register-fields {
        display: flex;
        width: 150%;
        flex-direction: column;
        align-content: center;
        text-align: center;
     
    }
}

.grid1 {
	grid-area: 1/1/2/2;
}
.grid2 {
	grid-area: 1/2/2/3;
}
.grid3 {
	grid-area: 2/2/3/3;
}
.grid4 {
	grid-area: 3/1/4/2;
}
.grid5 {
	grid-area: 3/2/4/3;
}
.grid6 {
	grid-area: 4/1/5/2;
}
.grid7 {
	grid-area: 4/2/5/3;
}
.grid8 {
	grid-area: 5/1/6/2;
}
.grid9 {
	grid-area: 5/2/6/3;
}
.grid10 {
	grid-area: 6/1/7/2;
}

/* Welcome */
.change_pass_button{
    color: rgb(225, 225, 225);
    font-weight: bold;
    font-size: 16px;
    background-color: transparent;
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1.5px;
    padding: 0.5rem 1rem;
    min-width: 120px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.items-welcome{
    display: inline-flex;
    flex-direction: column;
  
}

.table-welcome{
    width: 750px;
    border-collapse: collapse;
    margin: 20px 0px 200px 0px;
}


th, td{
    border: 4px solid #51369A;
    padding: 8px;
    text-align: left;
}

.dashboard_button {
    color: rgb(225, 225, 225);
    font-weight: bold;
    font-size: 12px;
    background-color: #51369A;
    border-radius: 5px;
    border: none;
    padding: 0.5rem 0.5rem;
    min-width: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.dashboard_button:hover {
    background-color: #51369A;

}

.dashboard_button:hover {
    background-color: rgba(0,136,169,0.8);
}

.no_borders{
    border-color: transparent;
    border-bottom-style: hidden;
    border-right-style: hidden;
}

/*diseño responsivo*/

@media screen and (max-width:768px) {
    .column {
      width: 100%;
    }
  }

.row::after {
    content: "";
    display: table;
    clear: both;
  }

  /* Estilos para el formulario */
.form-group {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.form-control1 {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

/* Ajustes para los campos en una fila */
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}

.col-12 {
    flex: 1 1 100%; 
    padding-right: 1; 
}

/* Ajustes para pantallas más grandes (≥ 768px) */
@media screen and (min-width: 768px) {
    .col-md-4 { flex: 1 1 33.333%; } /* Ocupa 4 columnas en un sistema de 12 columnas */
    .col-md-5 { flex: 1 1 41.666%; } /* Ocupa 5 columnas */
    .col-md-1 { flex: 1 1 8.333%; }  /* Ocupa 1 columna */
    .col-md-2 { flex: 1 1 16.666%; } /* Ocupa 2 columnas */
}

/* Estilos para las preguntas dinámicas */
#panelPreguntasContainer {
    margin-top: 20px;
    background-color: rgba(88, 88, 88, 0.2);
    border-radius: 10px;
    padding: 30px;
}

.opcion-item {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .opcion-item {
        flex-direction: column;
        width: 100%;
    }
}

/* Estilo del menú horizontal */
.nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #3b2579;
    padding: 10px;
    border-radius: 5px;
    list-style: none;
}

.nav-menu li {
    margin: 10px;
}

.nav-menu a {
    font-size: 20px;
    padding: 8px 12px;
}

@media screen and (max-width: 600px) {
    .nav-menu {
        flex-direction: column;
        text-align: center;
        padding: 1px 1px;
    }

    .nav-menu a {
        font-size: 18px;
    }
}

.nav-menu a:hover {
    color: #51369A; 
}



textarea {
    max-height: 16px; 
    color: rgb(39, 39, 39);
   
}

.input-group{
    max-height: 34px; 

    
}

button {
    color: rgb(233, 233, 233);
    font-weight: bold;
    font-size:16px;
    background-color: #51369A;
    border-radius: 5px;
    border: none;
    padding: 5px 5px;
    min-width: 120px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
}

@media screen and (max-width: 600px) {
    button, .copy-btn {
        width: 100%;
        font-size: 14px;
        margin: 5px;
    }
}

select {
    max-height: 34px; 
    color: rgb(39, 39, 39);
}

option {
    color: rgb(39, 39, 39);
}

/* Items resultados */
.items-resultados {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    margin: 20px 25px 100px 25px;
}

.wrap-resultados{
    margin: 10px;
}

/* Tablas de resultados*/

.table-resultados { 
    table-layout: fixed;
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse; 
    table-layout: fixed; 
    margin-left:auto; 
    margin-right:auto;
}

.table-resultados td, .table-resultados th { 
    width: 100%;
    height: 100%;
    border: 2px solid #2c2347;
    padding: 15px; 
    text-align: center;
}
.table-resultados th { 
    background-color: #51369A; 
    text-align: center;
}

.table-welcome { 
    width: 100%;
    max-width: 1000px;
    margin: auto;
    border-collapse: collapse;
    
}
.table-welcome td, .table-welcome th { 
    border: 2px solid #2c2347;
    padding: 15px; 
    
}
.table-welcome th { 
    background-color: #51369A; 
    text-align: center;
}

@media screen and (max-width: 768px) {
    .table-welcome {
        font-size: 14px;
        margin: 20px 20px 200px 20px;
        max-width: 90%;
    }

    .table-welcome th, .table-welcome td {
        padding: 20px; 
        text-align: center;
        
    }
 

}

.items-welcome {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 0.5rem 5rem;
}

.card {
    width: 80%;
    padding: 0.5rem 5rem;
}



/* Estilos para la ventana emergente personalizada */
.custom-alert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.custom-alert-content {
    background: #51369A;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 400px;
    width: 90%;
}

.custom-alert-content h3 {
    margin-top: 0;
    font-size: 1.5rem;
}

.custom-alert-content p {
    font-size: 1.1rem;
}

.custom-alert-content button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.custom-alert-content button:hover {
    background: #0056b3;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #003153;
}

@media screen and (max-width: 600px) {
    .custom-alert-content {
        font-size: 14px;
    }
}
/* Preguntas con sus respuestas */
.preguntas {
    background-color: #003153;
    width: 50%;
    padding: 20px;
    border: 1px solid grey;
    margin: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
    border: 2px solid #888; /* Contorno */
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
    border: 1px solid #555; /* Contorno del círculo */
  }
  
  input:checked + .slider {
    background-color: #4CAF50;
    border-color: #4CAF50; /* Cambia el color del contorno al activarse */
  }
  
  input:checked + .slider:before {
    transform: translateX(18px);
    border-color: white; /* El círculo se ve mejor en activo */
  }
  
  .switch:hover .slider {
    border-color: #000; /* Contorno más visible al pasar el mouse */
  }
  
