@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Arial';
    color: white;
}

html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #003153;
    background-image: linear-gradient(315deg, #003153 0%, #1B1B1B 74%);
    width: 100%;
    overflow-x: hidden; 
}

.container {
    height: 95%;
    min-height: 95vh; 
    width: 95%; 
    padding: 3%;
}


/*
div {
  border: 1px solid rgba(255,255,255,.1);
  width: 10em;
  height: 10em;
  transform: rotate(45deg);
  margin: 2em;
  float: left;
  background: linear-gradient(135deg, rgba(255,255,255,0.05) 0%,rgba(0,0,0,0.05) 100%); 
}
*/


/*HEADER STYLES*/
.header-container {
    font-weight: bold;
    font-size: 18px;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 15px 200px;
    justify-content: space-between;
}

.header_one {
    display: flex;
    align-items: center;
}

.header_one a {
    padding: 10px;
    text-decoration: none;
}


.logo {
    width: 50px;
    height: auto;
}

.header_two {
    display: flex;
    align-items: center;
}

.header_two a {
    padding: 10px;
    text-decoration: none;
}

a {
    color: white;
    transition: all 0.3s ease 0s;
}

input{
    color: rgb(39, 39, 39);
}

a:hover{
    color: #51369A;
}

.index_button_one {
    color: rgb(225, 225, 225);
    font-weight: bold;
    font-size: 16px;
    background-color: transparent;
    border-radius: 5px;
    border-color: #51369A;
    border-style: solid;
    border-width: 1.5px;
    padding: 0.5rem 1rem;
    min-width: 120px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.index_button_two {
    color: rgb(225, 225, 225);
    font-weight: bold;
    font-size: 16px;
    background-color: #51369A;
    border-radius: 5px;
    border: none;
    padding: 0.5rem 1rem;
    min-width: 120px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.index_button_one:hover{
    background-color: rgba(81, 54, 154, 0.8)    ;
}

.index_button_two:hover{
    background-color: #51369A;
}

.container-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.container-one h1{
    color: #a89bff
}

.home-img{
    width: 800px;
    /* adds 12px border radius */
    border-radius: 12px;
    padding: 8px;
    background-color: rgb(3, 24, 33);
}

.container-one{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-content: center;
    text-align: center;
}

p.text {
    width: 700px;
}

.cerrar_sesion {
    background-color: rgb(150, 54, 54) !important;
}

/* Login */
.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: top;
    align-content: normal;
    margin: 20px 0px 0px 100px;
}

.login-items{
    margin: 40px;
}

/* Registro */

.wrapper-register {
    display: flex;
    flex-direction: row;
    margin: 0px 200px;
}

.flex-wrapper{
    margin: 10px 20px;
}

.register-img{
    width: 375px;
    margin: 10px;
    /* adds 12px border radius */
    border-radius: 12px;
    padding: 8px;
    background-color: rgb(3, 24, 33);
}

.register-fields {
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(2, 1fr);
	gap: 0;
	width: 100%;
	height: 100%;
}

.grid1 {
	grid-area: 1/1/2/2;
}
.grid2 {
	grid-area: 1/2/2/3;
}
.grid3 {
	grid-area: 2/2/3/3;
}
.grid4 {
	grid-area: 3/1/4/2;
}
.grid5 {
	grid-area: 3/2/4/3;
}
.grid6 {
	grid-area: 4/1/5/2;
}
.grid7 {
	grid-area: 4/2/5/3;
}
.grid8 {
	grid-area: 5/1/6/2;
}
.grid9 {
	grid-area: 5/2/6/3;
}
.grid10 {
	grid-area: 6/1/7/2;
}

/* Welcome */
.change_pass_button{
    color: rgb(225, 225, 225);
    font-weight: bold;
    font-size: 16px;
    background-color: transparent;
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1.5px;
    padding: 0.5rem 1rem;
    min-width: 120px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.items-welcome{
    display: inline-flex;
    flex-direction: column;
    margin: 20px 0px 200px 0px;
}

.table-welcome{
    width: 750px;
    border-collapse: collapse;
}

th, td{
    border: 4px solid #51369A;
    padding: 8px;
    text-align: left;
}

.dashboard_button {
    color: rgb(225, 225, 225);
    font-weight: bold;
    font-size: 12px;
    background-color: #51369A;
    border-radius: 5px;
    border: none;
    padding: 0.5rem 0.5rem;
    min-width: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.dashboard_button:hover {
    background-color: #51369A;

}

.dashboard_button:hover {
    background-color: rgba(0,136,169,0.8);
}

.no_borders{
    border-color: transparent;
    border-bottom-style: hidden;
    border-right-style: hidden;
}

/*diseño responsivo*/

@media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }

.row::after {
    content: "";
    display: table;
    clear: both;
  }

  /* Estilos para el formulario */
.form-group {
    margin: 0px 10px;
    margin-bottom: 1rem;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.form-control1 {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

/* Ajustes para los campos en una fila */
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    
}

.col-12 {
    flex: 1 1 100%; /* Ocupa el 100% del ancho en móviles */
    padding-right: 1%;
}

@media screen and (min-width: 768px) {
    .col-md-3 {
        flex: 1 1 25%; /* Ocupa el 25% del ancho en tablets y desktop */
    }
    .col-md-5 {
        flex: 1 1 50%; /* Ocupa el 50% del ancho en tablets y desktop */
    }
    .col-md-2 {
        flex: 1 1 20%; /* Ocupa el 20% del ancho en tablets y desktop */
    }
}

/* Estilos para las preguntas dinámicas */
#panelPreguntasContainer {
    margin-top: 20px;
    background-color: rgba(88, 88, 88, 0.2);
    border-radius: 20px;
    padding: 30px;
    margin: 30px;
    
}

.opcion-item {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    padding-inline: 0.5rem;
}

/* Estilo del menú horizontal */
.nav-menu {
    list-style: none;
    display: flex; /* Hace que los elementos estén en línea */
    justify-content: center; /* Centra el menú horizontalmente */
    background-color: #3b2579; /* Color de fondo */
    padding: 10px;
    border-radius: 5px;
}

.nav-menu li {
    margin: 0 15px; 
}

.nav-menu a {
    text-decoration: none;
    color: white; 
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav-menu a:hover {
    color: #51369A; 
}



textarea {
    max-height: 15px; 
    color: rgb(39, 39, 39);
   
}

input-group{
    max-height: 15px; 
    
}

button {
    color: rgb(233, 233, 233);
    font-weight: bold;
    font-size:12px;
    background-color: #51369A;
    border-radius: 5px;
    border: none;
    padding: 0.5rem 1rem;
    min-width: 120px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

select {
    max-height: 34px; 
    color: rgb(39, 39, 39);
}

option {
    color: rgb(39, 39, 39);
}


.table-welcome { 
    width: 90%; 
    margin: auto; 
    border-collapse: collapse; 
    
}
.table-welcome td, .table-welcome th { 
    border: 2px solid #2c2347;
    padding: 15px; 
    
}
.table-welcome th { 
    background-color: #51369A; 
    text-align: center;
}

.items-welcome {
    width: 100%;
    padding: 0.5rem 5rem;
}

.card {
    width: 80%;
    padding: 0.5rem 5rem;
}